.container-contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px
}

.container-contact a {
    margin-top: 1em;
    margin-bottom: 1em;
    text-transform: capitalize;
}

.container-contact img {
    height: 25px;
}