html {
  color: white;
  font-family: "Monocraft"
}

header {
  border: 2px solid #363636;
  margin: -1px;
}

body {
  background-color: #262626;
  margin: 0rem;
  border: 1px solid #363636;
  overflow: hidden;
}

div,img {
  border: 1px solid #363636;
}

#grid-left-blank {
  background-color: #212121;
}

#grid-browser {
  background-color: #212121;
}
