#grid-wrapper {
  display: grid;
  gap: 0rem;
  grid-template-areas:
    "⬛ 🟧 ⬜"
    "🟫 🟥 🟨";
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 10vh 90vh;
  margin: -1px;
}

#grid-left-blank {
  grid-area: ⬛;
  margin: -1px;
}

#grid-header {
  grid-area: 🟧;
  margin: -1px;
}

#grid-right-blank {
  grid-area: ⬜;
  margin: -1px;
}

#grid-browser {
  grid-area: 🟫;
  margin: -1px;
}

#grid-page-content {
  grid-area: 🟥;
  margin: -1px;
}

#grid-bio-content {
  grid-area: 🟨;
  margin: -1px;
}
