#page-banner {
  background-image: url("../Images/header_template.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
}

#bio-image {
  background-image: url("../Images/carloscruz-headshot.png");
  background-size: cover;
  width: 100%;
  height: 15rem;
  margin: -1px;
}

#bio-text {
  margin: -1px;
}
