body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    border-width: 0px;
}

.content-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 4vh 5vw 0 5vw;
    padding: 0;
}

a:link {
    color: wheat;
}

a:visited {
    color: aquamarine;
}

hr {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-width: 0px 0px 0px 0px;
}

hr.solid {
    border-top: 3px solid #bbb;
}

hr.dotted {
    border-top: 3px dotted #bbb;
}