body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #333;*/
    padding: 10px 20px;
}

.navbar p {
    color: white;
    text-decoration: center;
    margin: 0 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    flex-grow: 1;
    text-align: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.nav-links a:hover {
    color: lightgray;
}

.nav-links .current-page {
    color: greenyellow;
}

.content-main {
    /*display: flex;*/
    margin: 50px 0 0 0;
    padding: 0;
}

.content-main .content-header {
    /*flex-grow: 1;*/
    text-align: center;
}