.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #333;*/
    padding: 1vw 1.5vw;
}

.nav-lm-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 67%;
}

.nav-left {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    flex: 1 1 33%;
}

.nav-middle {
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 34%;
}

.nav-right {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1 33%;
}

.nav-middle a {
    color: white;
    text-decoration: none;
}

.nav-middle a:hover {
    color: lightgray;
}

.nav-middle .current-page {
    color: greenyellow;
}

.logo img {
    height: 40px;
}